@import './../../styles.scss';

.clb {
    margin-left: 0px;
    margin-right: 0px;
    color: $white !important;
}

h1 {
    color: $white !important;
    font-size: 55px;
    font-weight: 700;
    padding-bottom: 20px;
}

.tb {
    color: $white !important; 
}
