@import './../../../styles.scss'; 

.header{
    background-color: $blue;
    color: $white;
    margin-left: 0px;
    margin-right: 0px;
}

.header div {
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: 600;
    font-size: 28px;
}

.header div a{
    cursor: pointer;
    color: $white;
    text-decoration: none;
}

.header div a:after{
    content:'';
    display: block;
    width: 0;
    height: 7px;
    background-color: $green;
    transition: width .3s;
}

.header div a:hover:after{
    width: 100%;
}