/* You can add global styles to this file, and also import other style files */


// colors palette
// $blue :  #575a6c;
$blue : #212e7a;
$green : #b4c540;
$white : #e0e2d2;
$light-blue : #3686c9;

body {
    background-color: $blue !important;
    color: $white !important;
}


.ant-table-thead>tr>th {
    color: $white !important; 
    background-color: $blue !important;
    font-size : 20px !important
}

.ant-table {
    font-size: 18px !important;
    color: $white !important;
}

.ant-table-placeholder {
    color: $white !important; 
    background-color: $blue !important;
}